{% extends "index.html" %}

{% block active-pill %}
									<li><a href="http://cloudytech.webfactional.com/">Inicio</a></li>
					          		<li class="divider separator">|</li>
					          		<li class="dropdown active">
					          			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
					          				Nosotros
					          				<b class="caret black-caret"></b>
					          			</a>
					          			<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
      										<li><a href="http://cloudytech.webfactional.com/nosotros/quienessomos"><center>¿Quiénes somos?</center></a></li>
      										<li><a href="http://cloudytech.webfactional.com/nosotros/historia"><center>Historia</center></a></li>
					          				<li><a href="http://cloudytech.webfactional.com/nosotros/escuela"><center>Escuela</center></a></li>
      										<li class="divider"></li>
      										<li class="dropdown-submenu">
      											<a tabindex="-1" href="#">Eventos</a>
      											<ul class="dropdown-menu">
      												<li><a href="http://cloudytech.webfactional.com/nosotros/eventos/seminarioaguilas"><center>Seminario Águilas</center></a></li>
      												<li><a href="http://cloudytech.webfactional.com/nosotros/eventos/seminarioQiM"><center>Seminario Quitta in Mexica</center></a></li>
      												<li><a href="http://cloudytech.webfactional.com/nosotros/eventos/diaaguilas"><center>Día Águilas</center></a></li>
      												<li><a href="http://cloudytech.webfactional.com/nosotros/eventos/cipacaipa"><center>CIPA CAIPA</center></a></li>
      											</ul>
      										</li>
    									</ul>
					          		</li>
					          		<li class="divider separator">|</li>
					          		<li><a href="http://cloudytech.webfactional.com/servicios">Servicios</a></li>
<!--					          			
					          			<ul class="dropdown-menu">
      										<li><a href="#"><center>Águilas</center></a></li>
      										<li><a href="#"><center>Cuauhpilli</center></a></li>
      										<li><a href="#"><center>Empresarial</center></a></li>
      										<li><a href="#"><center>Madre Tierra</center></a></li>
      										<li><a href="#"><center>Awakening</center></a></li>
      										<li><a href="#"><center>Magic:k</center></a></li>
      										<li><a href="#"><center>Unita Omnes</center></a></li>
    									</ul>
					          		<li class="divider separator">|</li>
					          		<li><a href="http://cloudytech.webfactional.com/clientes">Clientes</a></li>
-->
					          		<li class="divider separator">|</li>
					          		<li><a href="http://cloudytech.webfactional.com/ssc/inscripcion">SSC</a></li>
					          		<li class="divider separator">|</li>
					          		<li><a href="http://cloudytech.webfactional.com/contacto">Contacto</a></li>
{% endblock %}

{% block content %}
<!--start intro-->
					<div class="well">
						<h2 class="subtitulo">Historia</h2>
						<p class="lead">En sus inicio el grupo se llamaba Programa Águilas, cuya razón de ser era compartir dicho programa en búsqueda del desarrollo del liderazgo transfomacional de una manera vivencial. El programa se fundó en 1992 por el Dr. Luis Miguel Román Lira.  El Dr. Luis Miguel aplicó un programa de coaching para el equipo de futbol de los borregos de Tec Campus CEM, este programa se vió que era más una filosofía de vida, algo que le podía funcionar a cualquier persona. </p>
						<div class="container-fluid">
        					<div class="row-fluid">
								<div class="span5">
									<img src="/static/static/imgs/img3.jpg" class="img-polaroid well-img">
								</div>        						
        						<div class="span7">
									<p class="lead">El programa llegó a Monterrey en 1998, y se extendió rápidamente. En 2002 se lleva a cabo el primer CIPA-CAIPA en Campus Monterrey.</p>
									<p class="lead">Entre el 2003 y 2007 se posiciona como grupo estudiantil en Campus Monterrey. Se vuelve a lanzar la propuesta para el 2008 para CIPA-CAIPA, la cual se le concedió a otro Campus.</p>
								</div>
							</div>
						</div>
						<p class="lead">Después de dicho evento se decide cerrar el grupo. En el 2009, cerca de 9 personas vuelven a abrir el grupo. Durante el tiempo que estubo cerrado GAM MTY se olvidó y se quedó en la memoria de las personas que tuvieron un contacto con GAM; además muchos grupos estudiantiles se consolidadoron, por otro lado GAM MTY tenía que volver a construir de un principio.</p>
						<div class="container-fluid">
        					<div class="row-fluid">				
        						<div class="span7">
									<p class="lead">En 2009-2010 nace la NeoGen, una nueva generación, la capacitación se llevó gracias a la colaboración de Instructores que estuvieron  al frente de Águilas MTY en años pasados, en donde se destaca la participación de Daniel Flores y Amaury Muñoz.</p>
									<p class="lead">Se logran grandes avances, 1 campamento de 34 personas, 1 campamento con Tec Milenio, así como con la Modalidad de Liderazgo para el Desarrollo Social, y una excelente asistencia al CIPA-CAIPA Irapuato. </p>
								</div>
								<div class="span5">
									<img src="/static/static/imgs/img3.jpg" class="img-polaroid well-img">
								</div>        		
							</div>
						</div>
						<p class="lead">A pesar de haber tenido un campamento exitoso, la noche del 19  de marzo de 2010 sucede un acontecimiento que afecto a la población estudiantil, dejando una escenario poco positivo para el GAM MTY. En el periodo  2010-2011, el grupo estudiantil presenta  bajas en cuanto a instructores. Se destaca la participación con la Misión del Nayar, el trabajo con la MLDS, 1 Campamento y participación en CIPA-CAIPA Tampico @Queretaro.</p>
						<p class="lead">Pese a las dificultades que había presentado el grupo antes de empezar el periodo Enero 2012 los instructores más jóvenes de aquella NeoGEN 2009 deciden tomar en sus manos el rumbo del grupo, bajo una nueva ideología, una Nueva Escuela.</p>
						<p class="lead">En enero 2012 Victor Delgado llega a presidencia de GAM MTY, y se iniciaron cambios en la estructura organizacional del grupo, convirtiéndolo en un sistema piramidal, definido por la responsabilidad y la experiencia. Esto se debe a que por mucho tiempo GAM MTY no daba importancia a los roles que se otorgaban en la Mesa Directiva, "al final quien fuera el presidente tenía mucha más responsabilidad que un colaborador". Se llegó a formar mesas con más experiencia que GAM MTY ha tenido, Víctor Delgado en la Presidencia, Erika Pumarejo en la Vicepresidenica, Valería González como Tesorera y Julio Villareal como Secretario.</p>
						<p class="lead">En este perioso  se empiezan a fortalecer las relaciones con grupos estudiantiles como Dejando Huella, Grupo Brigadas, Latidos, SAIFI, SALPL, AGE, entre otros. Así como con Comité Electoral, el cual nos da la oportunidad de acercarnos a los líderes de las Sociedades de Alumnos.​</p>
						<p class="lead">Se reestructuraron los programa, nacen talleres cortos: talleres especializados en integración y otros al desarrollo de un liderazgo basado en principios. Se inicia una política de precios estable que promuevan la sustentabilidad del grupo  y una política de calidad. También se promueve una política de relaciones con Desarrollo Estudiantil.</p>
						<p class="lead">Surge la idea de formalizar el grupo y convertirlo en una Institución Estudiantil, esto es formalizar nuestros procesos y proyectos con el fin de alcanzar un mayor impacto. A la vez surge la idea de generar nuevos programas adecuados para el desarrollo de las personas en pleno 2012 (veáse ELDH).</p>
						<p class="lead">Al pase del tiempo, surge la NeoGEN ELDH, aquellas personas que no sólo creen en el Programa Águilas, pero también en el proyecto de consolidar una plataforma integral de liderazgo y desarrollo humano.</p>
					</div>
{% endblock %}