{% extends "index.html" %}

{% block active-pill %}
									<li class="active"><a href="http://cloudytech.webfactional.com/">Inicio</a></li>
					          		<li class="divider separator">|</li>
					          		<li class="dropdown">
					          			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
					          				Nosotros
					          				<b class="caret black-caret"></b>
					          			</a>
					          			<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
      										<li><a href="http://cloudytech.webfactional.com/nosotros/quienessomos"><center>¿Quiénes somos?</center></a></li>
      										<li><a href="http://cloudytech.webfactional.com/nosotros/historia"><center>Historia</center></a></li>
      										<li class="divider"></li>
      										<li class="dropdown-submenu">
      											<a tabindex="-1" href="#">Eventos</a>
      											<ul class="dropdown-menu">
      												<li><a href="http://cloudytech.webfactional.com/nosotros/eventos/seminarioaguilas"><center>Seminario Águilas</center></a></li>
      												<li><a href="http://cloudytech.webfactional.com/nosotros/eventos/seminarioQiM"><center>Seminario Quitta in Mexica</center></a></li>
      												<li><a href="http://cloudytech.webfactional.com/nosotros/eventos/diaaguilas"><center>Día Águilas</center></a></li>
      												<li><a href="http://cloudytech.webfactional.com/nosotros/eventos/cipacaipa"><center>CIPA CAIPA</center></a></li>
      											</ul>
      										</li>
    									</ul>
					          		</li>
					          		<li class="divider separator">|</li>
					          		<li><a href="http://cloudytech.webfactional.com/servicios">Servicios</a></li>
					          		<li class="divider separator">|</li>
					          		<li><a href="http://cloudytech.webfactional.com/talleres">Talleres</a></li>
<!--					          			
					          			<ul class="dropdown-menu">
      										<li><a href="#"><center>Águilas</center></a></li>
      										<li><a href="#"><center>Cuauhpilli</center></a></li>
      										<li><a href="#"><center>Empresarial</center></a></li>
      										<li><a href="#"><center>Madre Tierra</center></a></li>
      										<li><a href="#"><center>Awakening</center></a></li>
      										<li><a href="#"><center>Magic:k</center></a></li>
      										<li><a href="#"><center>Unita Omnes</center></a></li>
    									</ul>
-->
					          		<li class="divider separator">|</li>
					          		<li><a href="http://cloudytech.webfactional.com/clientes">Clientes</a></li>
					          		<li class="divider separator">|</li>
					          		<li><a href="http://cloudytech.webfactional.com/ssc/inscripcion">SSC</a></li>
					          		<li class="divider separator">|</li>
					          		<li><a href="http://cloudytech.webfactional.com/contacto">Contacto</a></li>
{% endblock %}

{% block content %}
<!--start intro-->
					<div class="well">
						<h2 class="subtitulo">Misión</h2>
						<p class="lead">Contribuir al desarrollo integral de las personas para que estas sean los mejores seres humanos que puedan llegar a ser a través de sus propias acciones.</p>
					</div>
					<div class="well">
						<h2 class="subtitulo">Visión 2015</h2>
						<p class="lead">Ser una plataforma de aprendizaje consolidada y sostenible, a través de la cual se potencialice el desarrollo humano integral de personas, grupos, asociaciones, comunidades y empresas, para que éstas cumplan sus objetivos y desarrollen un mejor entorno.</p>
					</div>
					<div class="well">
						<h2 class="subtitulo">Valores</h2>
						<p class="lead">Amor, Innovación, Excelencia, Servicio, Responsabilidad, Sinergia, Congruencia.</p>
					</div>
{% endblock %}