{% extends "index.html" %}

{% block active-pill %}
									<li><a href="http://cloudytech.webfactional.com/">Inicio</a></li>
					          		<li class="divider separator">|</li>
					          		<li class="dropdown active">
					          			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
					          				Nosotros
					          				<b class="caret black-caret"></b>
					          			</a>
					          			<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
      										<li><a href="http://cloudytech.webfactional.com/nosotros/quienessomos"><center>¿Quiénes somos?</center></a></li>
      										<li><a href="http://cloudytech.webfactional.com/nosotros/historia"><center>Historia</center></a></li>
					          				<li><a href="http://cloudytech.webfactional.com/nosotros/escuela"><center>Escuela</center></a></li>
      										<li class="divider"></li>
      										<li class="dropdown-submenu">
      											<a tabindex="-1" href="#">Eventos</a>
      											<ul class="dropdown-menu">
      												<li><a href="http://cloudytech.webfactional.com/nosotros/eventos/seminarioaguilas"><center>Seminario Águilas</center></a></li>
      												<li><a href="http://cloudytech.webfactional.com/nosotros/eventos/seminarioQiM"><center>Seminario Quitta in Mexica</center></a></li>
      												<li><a href="http://cloudytech.webfactional.com/nosotros/eventos/diaaguilas"><center>Día Águilas</center></a></li>
      												<li><a href="http://cloudytech.webfactional.com/nosotros/eventos/cipacaipa"><center>CIPA CAIPA</center></a></li>
      											</ul>
      										</li>
    									</ul>
					          		</li>
					          		<li class="divider separator">|</li>
					          		<li><a href="http://cloudytech.webfactional.com/servicios">Servicios</a></li>
<!--					          			
					          			<ul class="dropdown-menu">
      										<li><a href="#"><center>Águilas</center></a></li>
      										<li><a href="#"><center>Cuauhpilli</center></a></li>
      										<li><a href="#"><center>Empresarial</center></a></li>
      										<li><a href="#"><center>Madre Tierra</center></a></li>
      										<li><a href="#"><center>Awakening</center></a></li>
      										<li><a href="#"><center>Magic:k</center></a></li>
      										<li><a href="#"><center>Unita Omnes</center></a></li>
    									</ul>
					          		<li class="divider separator">|</li>
					          		<li><a href="http://cloudytech.webfactional.com/clientes">Clientes</a></li>
-->
					          		<li class="divider separator">|</li>
					          		<li><a href="http://cloudytech.webfactional.com/ssc/inscripcion">SSC</a></li>
					          		<li class="divider separator">|</li>
					          		<li><a href="http://cloudytech.webfactional.com/contacto">Contacto</a></li>
{% endblock %}

{% block content %}
<!--start intro-->
					<div class="well">
					</div>
{% endblock %}