{% extends "index.html" %}

{% block active-pill %}
									<li><a href="http://cloudytech.webfactional.com/">Inicio</a></li>
					          		<li class="divider separator">|</li>
					          		<li class="dropdown">
					          			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
					          				Nosotros
					          				<b class="caret black-caret"></b>
					          			</a>
					          			<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
      										<li><a href="http://cloudytech.webfactional.com/nosotros/quienessomos"><center>¿Quiénes somos?</center></a></li>
      										<li><a href="http://cloudytech.webfactional.com/nosotros/historia"><center>Historia</center></a></li>
					          				<li><a href="http://cloudytech.webfactional.com/nosotros/escuela"><center>Escuela</center></a></li>
      										<li class="divider"></li>
      										<li class="dropdown-submenu">
      											<a tabindex="-1" href="#">Eventos</a>
      											<ul class="dropdown-menu">
      												<li><a href="http://cloudytech.webfactional.com/nosotros/eventos/seminarioaguilas"><center>Seminario Águilas</center></a></li>
      												<li><a href="http://cloudytech.webfactional.com/nosotros/eventos/seminarioQiM"><center>Seminario Quitta in Mexica</center></a></li>
      												<li><a href="http://cloudytech.webfactional.com/nosotros/eventos/diaaguilas"><center>Día Águilas</center></a></li>
      												<li><a href="http://cloudytech.webfactional.com/nosotros/eventos/cipacaipa"><center>CIPA CAIPA</center></a></li>
      											</ul>
      										</li>
    									</ul>
					          		</li>
					          		<li class="divider separator">|</li>
					          		<li class="active"><a href="http://cloudytech.webfactional.com/servicios">Servicios</a></li>
<!--					          			
					          			<ul class="dropdown-menu">
      										<li><a href="#"><center>Águilas</center></a></li>
      										<li><a href="#"><center>Cuauhpilli</center></a></li>
      										<li><a href="#"><center>Empresarial</center></a></li>
      										<li><a href="#"><center>Madre Tierra</center></a></li>
      										<li><a href="#"><center>Awakening</center></a></li>
      										<li><a href="#"><center>Magic:k</center></a></li>
      										<li><a href="#"><center>Unita Omnes</center></a></li>
    									</ul>
					          		<li class="divider separator">|</li>
					          		<li><a href="http://cloudytech.webfactional.com/clientes">Clientes</a></li>
-->
					          		<li class="divider separator">|</li>
					          		<li><a href="http://cloudytech.webfactional.com/ssc/inscripcion">SSC</a></li>
					          		<li class="divider separator">|</li>
					          		<li><a href="http://cloudytech.webfactional.com/contacto">Contacto</a></li>
{% endblock %}

{% block content %}
<!--start intro-->
					<div class="row-fluid">
						<div class="span3">
							<img src="/static/static/imgs/dummy.jpg" alt>
						</div>
						<div class="span3">
							<div class="well">
								<h2 class="subtitulo">Corporativos</h2>
								<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</p>
							</div>
						</div>
						<div class="span6">
							<div class="tabbable tabs-right"> <!-- Only required for left/right tabs -->
		  						<ul class="nav nav-tabs">
		    						<li class="active"><a href="#tab1" data-toggle="tab">Águilas</a></li>
		    						<li><a href="#tab2" data-toggle="tab">Cuauhpilli</a></li>
		    						<li><a href="#tab3" data-toggle="tab">Empresarial</a></li>
		    						<li><a href="#tab4" data-toggle="tab">Madre Tierra</a></li>
		    						<li><a href="#tab5" data-toggle="tab">Awakening</a></li>
		    						<li><a href="#tab6" data-toggle="tab">Magic:k</a></li>
		    						<li><a href="#tab7" data-toggle="tab">Unita Omnes</a></li>
		  						</ul>
		  						<div class="tab-content">
		   							<div class="tab-pane active" id="tab1">
		   								<div class="well">
		   									<h3 class="subtitulo">División de Liderazgo</h3>
		   	   								<p class="lead">Esta división se encarga principalmente de compartir las herramientas esenciales del liderazgo través de diferentes Talleres y Seminarios de alto rendimiento a estudiantes y el público en general.  Los programas que la conforman son: Programa Águila, CLIC (Creando Líderes Infantiles en la Comunidad) y CITV (Capacitación a Instructores de Talleres Vivenciales).</p>
		   	   							</div>
		    						</div>
		    						<div class="tab-pane" id="tab2">
		      							<div class="well">
		   									<h3 class="subtitulo">División de Liderazgo Social y Ciudadanía</h3>
		   	   								<p class="lead">Esta división se encarga ya no solo de ver las herramientas de liderazgo como tal, pero también el como canalizarlas en en un entorno social, buscando el beneficio de la comunidad. En esta división se encuentra MOSACHI, Quitta in Mexica, Zoon Politikon y Comunidad.</p>
		   	   							</div>
		    						</div>
		    						<div class="tab-pane" id="tab3">
		      							<div class="well">
		   									<h3 class="subtitulo">División de Liderazgo en la Empresa</h3>
		   	   								<p class="lead">Somos conciente que las personas desarrollarán gran parte de su potencial en las empresas, siendo estas las bases en un entorno social en pleno siglo XXI. Es por eso que en esta división se establecen vínculos con diferentes empresas y fortalecer el capital humano. </p>
		   	   							</div>
		    						</div>
		    						<div class="tab-pane" id="tab4">
		    							<div class="well">
			      							<h3 class="subtitulo">División de Cultura Ecológica</h3>
			   	   							<p class="lead">En GAM MTY somos conscientes que es esencial desarrollarnos tomando en cuenta el medio donde lo hacemos. Por lo que esta División se encarga de difundir nuestro desarrollo siempre en armonía con el Medio donde nos desenvolvemos.</p>
			   	   						</div>
		    						</div>
		    						<div class="tab-pane" id="tab5">
		    							<div class="well">
			      							<h3 class="subtitulo">División de Desarrollo Espiritual</h3>
			   	   							<p class="lead">Actualmente la humanidad está en un estado de transición hacia una Nueva Era, por lo cual es necesario volver buscar hacia adentro de nosotros mismos. Esta División se encarga de  impartir talleres enfocados a desarrollar la inteligencia espiritual que existe en las personas.</p>
			   	   						</div>
		    						</div>
		    						<div class="tab-pane" id="tab6">
		    							<div class="well">
			      							<h3 class="subtitulo">División donde Todo es Posible</h3>
			   	   							<p class="lead">Una división bastante compleja la cual empieza la exploración de la grandeza humana a través del arte, de ahí hacia nuestras emociones, nuestro ser y el cómo se proyecta hasta el universo.</p>
			   	   						</div>
		    						</div>
		    						<div class="tab-pane" id="tab7">
		    							<div class="well">
			      							<h3 class="subtitulo">División de Liderazgo con Visión Internacional</h3>
			   	   							<p class="lead">La naturaleza de la institución no es la enseñanza sino el aprendizaje. En un mundo cada vez más globalizado, nos podemos complementar a través de compartir experiencias y formas de vivir entre varias regiones de Latinoamerica y el mundo entero.</p>
			   	   						</div>
		    						</div>
		  						</div>
							</div>
							<div class="row-fluid">
								<button class="btn btn-large btn-block btn-danger" type="button">Solicita tu taller</button>
							</div>									
						</div>
					</div>
					<hr>
					<div class="row-fluid">
						<div class="span3">
							<img src="/static/static/imgs/dummy.jpg" alt>
						</div>
						<div class="span3">
							<h2 class="subtitulo">Grupos Estudiantiles</h2>
							<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</p>
						</div>
						<div class="span6">
							<div class="tabbable tabs-right"> <!-- Only required for left/right tabs -->
		  						<ul class="nav nav-tabs">
		    						<li class="active"><a href="#tab1" data-toggle="tab">Águilas</a></li>
		    						<li><a href="#tab2" data-toggle="tab">Cuauhpilli</a></li>
		    						<li><a href="#tab3" data-toggle="tab">Empresarial</a></li>
		    						<li><a href="#tab4" data-toggle="tab">Madre Tierra</a></li>
		    						<li><a href="#tab5" data-toggle="tab">Awakening</a></li>
		    						<li><a href="#tab6" data-toggle="tab">Magic:k</a></li>
		    						<li><a href="#tab7" data-toggle="tab">Unita Omnes</a></li>
		  						</ul>
		  						<div class="tab-content">
		   							<div class="tab-pane active" id="tab1">
		   								<div class="well">
		   									<h3 class="subtitulo">División de Liderazgo</h3>
		   	   								<p class="lead">Esta división se encarga principalmente de compartir las herramientas esenciales del liderazgo través de diferentes Talleres y Seminarios de alto rendimiento a estudiantes y el público en general.  Los programas que la conforman son: Programa Águila, CLIC (Creando Líderes Infantiles en la Comunidad) y CITV (Capacitación a Instructores de Talleres Vivenciales).</p>
		   	   							</div>
		    						</div>
		    						<div class="tab-pane" id="tab2">
		      							<div class="well">
		   									<h3 class="subtitulo">División de Liderazgo Social y Ciudadanía</h3>
		   	   								<p class="lead">Esta división se encarga ya no solo de ver las herramientas de liderazgo como tal, pero también el como canalizarlas en en un entorno social, buscando el beneficio de la comunidad. En esta división se encuentra MOSACHI, Quitta in Mexica, Zoon Politikon y Comunidad.</p>
		   	   							</div>
		    						</div>
		    						<div class="tab-pane" id="tab3">
		      							<div class="well">
		   									<h3 class="subtitulo">División de Liderazgo en la Empresa</h3>
		   	   								<p class="lead">Somos conciente que las personas desarrollarán gran parte de su potencial en las empresas, siendo estas las bases en un entorno social en pleno siglo XXI. Es por eso que en esta división se establecen vínculos con diferentes empresas y fortalecer el capital humano. </p>
		   	   							</div>
		    						</div>
		    						<div class="tab-pane" id="tab4">
		    							<div class="well">
			      							<h3 class="subtitulo">División de Cultura Ecológica</h3>
			   	   							<p class="lead">En GAM MTY somos conscientes que es esencial desarrollarnos tomando en cuenta el medio donde lo hacemos. Por lo que esta División se encarga de difundir nuestro desarrollo siempre en armonía con el Medio donde nos desenvolvemos.</p>
			   	   						</div>
		    						</div>
		    						<div class="tab-pane" id="tab5">
		    							<div class="well">
			      							<h3 class="subtitulo">División de Desarrollo Espiritual</h3>
			   	   							<p class="lead">Actualmente la humanidad está en un estado de transición hacia una Nueva Era, por lo cual es necesario volver buscar hacia adentro de nosotros mismos. Esta División se encarga de  impartir talleres enfocados a desarrollar la inteligencia espiritual que existe en las personas.</p>
			   	   						</div>
		    						</div>
		    						<div class="tab-pane" id="tab6">
		    							<div class="well">
			      							<h3 class="subtitulo">División donde Todo es Posible</h3>
			   	   							<p class="lead">Una división bastante compleja la cual empieza la exploración de la grandeza humana a través del arte, de ahí hacia nuestras emociones, nuestro ser y el cómo se proyecta hasta el universo.</p>
			   	   						</div>
		    						</div>
		    						<div class="tab-pane" id="tab7">
		    							<div class="well">
			      							<h3 class="subtitulo">División de Liderazgo con Visión Internacional</h3>
			   	   							<p class="lead">La naturaleza de la institución no es la enseñanza sino el aprendizaje. En un mundo cada vez más globalizado, nos podemos complementar a través de compartir experiencias y formas de vivir entre varias regiones de Latinoamerica y el mundo entero.</p>
			   	   						</div>
		    						</div>
		  						</div>
							</div>
							<div class="row-fluid">
								<button class="btn btn-large btn-block btn-danger" type="button">Solicita tu taller</button>
							</div>										
						</div>
					</div>
					<hr>
					<div class="row-fluid">
						<div class="span3">
							<img src="/static/static/imgs/dummy.jpg" alt>
						</div>
						<div class="span3">
							<h2 class="subtitulo">Asociaciones Civiles</h2>
							<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</p>
						</div>
						<div class="span6">
							<div class="tabbable tabs-right"> <!-- Only required for left/right tabs -->
		  						<ul class="nav nav-tabs">
		    						<li class="active"><a href="#tab1" data-toggle="tab">Águilas</a></li>
		    						<li><a href="#tab2" data-toggle="tab">Cuauhpilli</a></li>
		    						<li><a href="#tab3" data-toggle="tab">Empresarial</a></li>
		    						<li><a href="#tab4" data-toggle="tab">Madre Tierra</a></li>
		    						<li><a href="#tab5" data-toggle="tab">Awakening</a></li>
		    						<li><a href="#tab6" data-toggle="tab">Magic:k</a></li>
		    						<li><a href="#tab7" data-toggle="tab">Unita Omnes</a></li>
		  						</ul>
		  						<div class="tab-content">
		   							<div class="tab-pane active" id="tab1">
		   								<div class="well">
		   									<h3 class="subtitulo">División de Liderazgo</h3>
		   	   								<p class="lead">Esta división se encarga principalmente de compartir las herramientas esenciales del liderazgo través de diferentes Talleres y Seminarios de alto rendimiento a estudiantes y el público en general.  Los programas que la conforman son: Programa Águila, CLIC (Creando Líderes Infantiles en la Comunidad) y CITV (Capacitación a Instructores de Talleres Vivenciales).</p>
		   	   							</div>
		    						</div>
		    						<div class="tab-pane" id="tab2">
		      							<div class="well">
		   									<h3 class="subtitulo">División de Liderazgo Social y Ciudadanía</h3>
		   	   								<p class="lead">Esta división se encarga ya no solo de ver las herramientas de liderazgo como tal, pero también el como canalizarlas en en un entorno social, buscando el beneficio de la comunidad. En esta división se encuentra MOSACHI, Quitta in Mexica, Zoon Politikon y Comunidad.</p>
		   	   							</div>
		    						</div>
		    						<div class="tab-pane" id="tab3">
		      							<div class="well">
		   									<h3 class="subtitulo">División de Liderazgo en la Empresa</h3>
		   	   								<p class="lead">Somos conciente que las personas desarrollarán gran parte de su potencial en las empresas, siendo estas las bases en un entorno social en pleno siglo XXI. Es por eso que en esta división se establecen vínculos con diferentes empresas y fortalecer el capital humano. </p>
		   	   							</div>
		    						</div>
		    						<div class="tab-pane" id="tab4">
		    							<div class="well">
			      							<h3 class="subtitulo">División de Cultura Ecológica</h3>
			   	   							<p class="lead">En GAM MTY somos conscientes que es esencial desarrollarnos tomando en cuenta el medio donde lo hacemos. Por lo que esta División se encarga de difundir nuestro desarrollo siempre en armonía con el Medio donde nos desenvolvemos.</p>
			   	   						</div>
		    						</div>
		    						<div class="tab-pane" id="tab5">
		    							<div class="well">
			      							<h3 class="subtitulo">División de Desarrollo Espiritual</h3>
			   	   							<p class="lead">Actualmente la humanidad está en un estado de transición hacia una Nueva Era, por lo cual es necesario volver buscar hacia adentro de nosotros mismos. Esta División se encarga de  impartir talleres enfocados a desarrollar la inteligencia espiritual que existe en las personas.</p>
			   	   						</div>
		    						</div>
		    						<div class="tab-pane" id="tab6">
		    							<div class="well">
			      							<h3 class="subtitulo">División donde Todo es Posible</h3>
			   	   							<p class="lead">Una división bastante compleja la cual empieza la exploración de la grandeza humana a través del arte, de ahí hacia nuestras emociones, nuestro ser y el cómo se proyecta hasta el universo.</p>
			   	   						</div>
		    						</div>
		    						<div class="tab-pane" id="tab7">
		    							<div class="well">
			      							<h3 class="subtitulo">División de Liderazgo con Visión Internacional</h3>
			   	   							<p class="lead">La naturaleza de la institución no es la enseñanza sino el aprendizaje. En un mundo cada vez más globalizado, nos podemos complementar a través de compartir experiencias y formas de vivir entre varias regiones de Latinoamerica y el mundo entero.</p>
			   	   						</div>
		    						</div>
		  						</div>
							</div>
							<div class="row-fluid">
								<button class="btn btn-large btn-block btn-danger" type="button">Solicita tu taller</button>
							</div>										
						</div>
					</div>
{% endblock %}